# Singularity Plug-in
#
required LIBDIR/singularity-exec.so default= script=LIBDIR/slurm-singularity-wrapper.sh path=/efs/singularity/containers bind=/sys,SLURMDIR,/var/run/munge,/var/spool/slurmd,/efs,/etc/munge,/run/munge,/scratch args=""
