# Singularity Plug-in
#
required LIBDIR/singularity-exec.so default= script=LIBDIR/slurm-singularity-wrapper.sh path=/opt/parallelcluster/shared/rstudio//apptainer bind=/sys,SLURMDIR,/var/run/munge,/var/spool/slurmd,/etc/munge,/run/munge args=""
