on:
  workflow_dispatch:
  push:
    branches: 
      - "**"
  pull_request:
    branches: 
      - main

name: Regression Testing 

jobs:
  setup:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*

  build-jammy:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*
      - name: Build & Check Ubuntu Jammy
        uses: ./.github/actions/singularity
        with:
          linux_distro: "jammy"

  build-focal:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*
      - name: Build & Check Ubuntu Focal
        uses: ./.github/actions/singularity
        with:
          linux_distro: "focal"

  build-rockylinux8:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*
      - name: Build & Check Rocky Linux 8
        uses: ./.github/actions/singularity
        with:
          linux_distro: "rockylinux8"

  build-rockylinux9:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*
      - name: Build & Check Rocky Linux 9
        uses: ./.github/actions/singularity
        with:
          linux_distro: "rockylinux9"

  build-rhel9:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*
      - name: Build & Check Red Hat Enterprise 9
        uses: ./.github/actions/singularity
        with:
          linux_distro: "rhel9"
        env:
          RH_USER_NAME: ${{ secrets.RH_USER_NAME }}
          RH_USER_PASS: ${{ secrets.RH_USER_PASS }}

  build-rhel8:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Apptainer 
        run: |
          sudo apt-get update && \
          sudo curl -LO https://github.com/apptainer/apptainer/releases/download/v1.3.5/apptainer_1.3.5_amd64.deb && \
          sudo apt install -y ./apptainer_1.3.5_amd64.deb && sudo rm -rf appt*
      - name: Build & Check Red Hat Enterprise 8
        uses: ./.github/actions/singularity
        with:
          linux_distro: "rhel8"
        env:
          RH_USER_NAME: ${{ secrets.RH_USER_NAME }}
          RH_USER_PASS: ${{ secrets.RH_USER_PASS }}


